*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    height: 100vh;
}

#app{
    width: 100%;
    height: 100%;
    background: #ff7c01;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropArea{
    width: 25vw;
    height: 25vw;
    max-height: 35vw;
    background: white;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.28);
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    transition: all 0.6s ease;
    overflow-y: scroll;
}

#dropArea.multimedia{
    width: 40vw !important;
    height: auto !important;
}

#dropArea .centeredTitle{
    position: sticky;
    top: -20px;
    width: 100%;
    background: white;
    font-size: 280%;
    color: gray;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 99;
}

#dropArea .file{
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px dashed gray;
}

#dropArea .file .name{
    font-weight: bold;
}

#dropArea .file .info{
    font-size: 70%;
    text-align: right;
}

#dropArea .file audio{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

#dropArea .file .info .size{
    font-weight: bold;
    margin-right: 5px;
}

.thumb{
    width: 100px !important;
}